*.SUNet
*.pyc

examples/checkpoints/*

assignments/chatbot/processed/*
assignments/chatbot/checkpoints/*
assignments/data/cornell-movie-dialogs-corpus/*

examples/data/*.zip
examples/processed/*

workspace.xml
