*.pdf
*.SUNet
*.pyc

examples/checkpoints/*

examples/chatbot/processed/*
examples/chatbot/checkpoints/*
examples/chatbot/data_analysis.py

assignments/chatbot/processed/*
assignments/data/cornell-movie-dialogs-corpus/*

examples/data/*.zip
examples/processed/*

workspace.xml
